#chat-notifications-wrapper {
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
}

#chat-notifications {
  background: rgba(0,0,0,0.75);
  padding: 0 2em;
  border-radius: 0.5em 0 0 0.5em;
  transition: height 250ms;
}

#chat-notifications li {
  padding-top: 1em;
  padding-bottom: 1em;
}
